HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application.properties
/mylog.txt
/src/main/resources/logback.xml
/src/main/resources/templates/mail/activationEmail.html
/src/main/resources/templates/mail/creationEmail.html
/src/main/resources/templates/mail/passwordResetEmail.html
/src/main/resources/i18n/messages.properties
/src/main/resources/i18n/messages_en.properties
/src/main/java/com/charusat/pacelearn/web/rest/UserJWTController.java
/src/main/java/com/charusat/pacelearn/config/WebConfigurer.java
